.search {
  width: 950px;
}
.png {
  display: flex;
  justify-content: space-between;
}

.index {
  font-size: 50px;
  word-spacing: -30px;
  margin-left: 120px;
}

.text {
  color: red;
}
.text2 {
  color: blue;
}
.text3 {
  color: yellow;
}
.text4 {
  color: green;
}
.page {
  display: flex;
  justify-content: space-around;
}
.picture {
  height: 400px;
  width: 1300px;
}
.picture2 {
  height: 400px;
  width: 1300px;
}
.picture3 {
  height: 400px;
  width: 1300px;
}
.product {
  display: flex;
  justify-content: space-between;
}
.name {
  display: flex;
  justify-content: space-around;
}

.carousel {
  margin-top: 20px;
}
.pname {
  font-size: 25px;
  font-weight: bold;
}
.namee {
  display: flex;
  justify-content: center;
}
.pr {
  width: 240px;
}
.pin {
  display: flex;
  justify-content: space-between;
}
